# Nomes a serem monitorados (Separados por vírgula se quiser múltiplos, ou individuais)
MONITOR_NAMES="Fulano,Ciclano"

# URLs das fontes de dados
URL_DOU="https://www.in.gov.br/leiturajornal"
URL_DOMS="https://www.diariooficial.ms.gov.br"
URL_IFMS="https://suap.ifms.edu.br/bse/consulta_publica/"
URL_SANESUL="https://www.sanesul.ms.gov.br/concursos-e-processos-seletivos"
URL_MSGAS="https://transparencia.msgas.com.br/Concursos"
URL_CRBM="https://crbm1.gov.br/"
